<ion-view class="profile" title="Minha conta">
  <ion-nav-bar class="bar-royal" align-title="center">
  </ion-nav-bar>
  <ion-content>
    <div class="row">
      <div class="col">

       <div class="card" ng-show="!user">
          <div class="item item-text-wrap">
            <p>Para ter uma conta do Gymness você precisa associar sua conta do Facebook.</p>
            <div class="button-go-back">
              <button class="button button-royal icon-left ion-chevron-left" ui-sref="welcome">
                Entrar com Facebook
              </button>
            </div>
          </div>
        </div>

        <p class="welcome-message" ng-show="user">Olá {{user.name}}, você está logado com o Facebook.</p>

        <div class="item item-avatar" ng-show="user">
          <img ng-src="{{user.picture}}">
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
        </div>

        <a ng-show="user" class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
          Desconectar do Facebook
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
