<ion-view title="Exercícios">
    <form name="myWorkout" class="my-workout">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Exercícios do treino</h1>
    </ion-header-bar>

  <ion-content>
    <div class="card">
      <div class="item item-text-wrap item-icon-right royal-light-bg">
        <span ng-if="hasExercises() == true">Agora customize cada exercício.</span>
        <span ng-if="hasExercises() == false">Adicione pelo menos um exercício ao seu treino.</span>
        <i class="icon icon-right ion-ios-information-empty"></i>
      </div>
    </div>

    <div class="list card" ng-repeat="muscleGroup in selectedExercises">
        <div class="item item-divider">
          <h2>{{muscleGroup.name}}</h2>
        </div>
      <div class="item item-remove-animate item-text-wrap" ng-repeat="exercise in muscleGroup.exercises">
        <h2>{{exercise.name}}</h2>
        <div class="row">
          <div class="col workout-inset">
            <span class="input-label">Séries</span>
            <input class="workout-input" type="number" ng-model="exercise.set" ng-init="exercise.set=3" value="1" ng-min="1" ng-max="20" required>
          </div>
          <div class="col workout-inset">
            <span class="input-label">Repet.</span>
            <input class="workout-input" type="number" ng-model="exercise.repetitions" ng-init="exercise.repetitions=10" value="10" ng-pattern="/^([0-9]{1,3})?$/" required>
          </div>
          <div class="col workout-inset">
            <span class="input-label">Peso</span>
            <input class="workout-input" type="number" ng-model="exercise.weight" ng-init="exercise.weight=10" value="10" min="0" max="999" required>
          </div>

          <div class="col remove-exercise">
            <div class="button button-clear" ng-click="remove(selectedExercises, $index, $parent.$index)">
              <span class="icon icon-trash ion-trash-b"</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="validation error workout-error" ng-show="myWorkout.$invalid">
      <i class="icon icon-right ion-alert-circled"></i>
      Corrija os erros antes de salvar o treino.
    </div>

    </ion-content>

    <ion-footer-bar>
      <button class="button button-balanced icon-right ion-checkmark-circled" ng-click="completeWorkout()" ng-if="hasExercises()" ng-disabled="myWorkout.$invalid">Salvar treino&nbsp;</button>
      <button ui-sref="muscle-groups" class="button button-outline button-royal icon-right ion-plus">  &nbsp;Adicionar mais exercícios</button>
    </ion-footer-bar>
    </form>
</ion-view>
