  <ion-modal-view>
  <form name="myWorkoutModal">
    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Editando {{set.name}}</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
      <h2 class="title royal">Série {{set.current_set}}</h2>
    </div>

    <ion-content padding="true" class="custom-subhead-padding">
      <div class="list">

        <div class="item item-input">
          <span class="input-label">Repetições</span>

          <div>
            <button class="button icon ion-minus" ng-click="modal.decrement('repetitions', 1)" style='margin-right:10px'>
            </button>
          </div>

          <div class="item-input-wrapper">
            <input type="number" class="input-medium" ng-model="set.repetitions"  style="text-align: center; padding-right: 0px;" min="1" max="999" required ng-pattern="/^([0-9]{1,3})?$/">
          </div>

          <div>
            <button class="button icon ion-plus" ng-click="modal.increment('repetitions', 999)" style='margin-left: 10px; margin-right:10px;'>
            </button>
          </div>

        </div>


        <div class="item item-input">
          <span class="input-label">Peso (kg)</span>

          <button class="button icon ion-minus" ng-click="modal.decrement('weight', 0)" style='margin-right:10px'>
          </button>

          <div class="item-input-wrapper">
            <input type="number" ng-model="set.weight" style="text-align: center; padding-right: 0px;"  min="0" max="999" required>
          </div>

          <button class="button icon ion-plus" ng-click="modal.increment('weight', 999)" style='margin-left: 10px; margin-right:10px'>
          </button>

        </div>
      </div>
      <button class="button button-block button-royal activated" ng-click="modal.hide()" ng-disabled="myWorkoutModal.$invalid">Salvar</button>
      </form>
    </ion-content>
  </ion-modal-view>
