  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">{{exercise.name}}</h1>
      <div class="button button-clear" ng-click="modal.hide()">
      <span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content padding="true">
      <div class="item item-body">
      <div class="exercise-image" ng-show="exercise.images[0]">
        <img src="./img/exercises/{{exercise.images[0]}}" height="300px" ng-click="toggleImage(exercise)">
      </div>
        <p>
            <div class="card" ng-show="!exercise.description">
      <div class="item item-text-wrap item-icon-right royal-light-bg royal-border">
        <span>Esse exercício não possui nenhuma descrição.</span>
        <i class="icon icon-right ion-ios-information-empty"></i>
      </div>
    </div>
          {{exercise.description}}
        </p>
      </div>
    </ion-content>
  </ion-modal-view>
