  <ion-view title="Treino finalizado" cache-view="false">

    <ion-nav-bar class="bar-royal" align-title="center">
    </ion-nav-bar>

    <ion-content>
      <div class="list card">

        <div class="item item-dark">
          <h2 class="light">{{executed_workout.workout_title}}</h2>
        </div>

        <div class="item item-text-wrap item-icon-right">
          <span>Treino realizado em {{workout_duration}}</span>
          <i class="icon icon-right ion-android-stopwatch"></i>
        </div>

        <div class="item item-body">
          <div class="workout-progress">
            <div round-progress
            max="max"
            current="current"
            color="#311B92"
            bgcolor="#eaeaea"
            radius="75"
            stroke="12"
            semi="false"
            rounded="false"
            clockwise="false"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="100">
            </div>

            <div class="workout-progress-value royal">{{executed_workout.completed_exercises}}/{{executed_workout.total_exercises}}</div>
          </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ui-sref="home">
            <i class="icon ion-ios-arrow-left"></i>
            Voltar ao início
          </a>
          <a class="tab-item" ui-sref="history">
            <i class="icon ion-podium"></i>
            Histórico
          </a>
          <a class="tab-item" href="#" ng-click="shareWorkout()">
            <i class="icon ion-share"></i>
            Compartilhar
          </a>
        </div>

      </div>
    </ion-content>
  </ion-view>

