  <ion-view title="Histórico de treinos realizados">
    <ion-nav-bar class="bar-royal" align-title="center"></ion-nav-bar>

    <ion-content>

    <div class="card royal-border" ng-show="showEmptyMessage()">
      <div class="item item-text-wrap item-icon-right royal-light-bg">
        <span>Você ainda não realizou nenhum treino.</span>
        <i class="icon icon-right ion-ios-information-empty"></i>
      </div>
    </div>

     <ion-list ng-repeat="groupedPair in grouped_workout_history_list track by groupedPair[0]">
        <ion-item class="item-divider">
            {{groupedPair[0]}}
        </ion-item>
        <ion-item ng-repeat="item in groupedPair[1] track by item._id" href="#/history/{{item._id}}">
          {{item.workout_title}} - {{workout_time(item.ended_at)}}
          <span ng-show="item.workout_color" class="workout-color-box {{item.workout_color}}-bg {{item.workout_color}}-border"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
