  <ion-view title="Gymness">

    <div class="bar bar-header bar-royal" align-title="center">
      <div class="h1 title">Gymness</div>
    </div>

      <ion-pane class="hero hero-img">
        <div class="app-icon" style="background-image: url('{{pictureURL()}}')">
        </div>
      </ion-pane>

    <ion-content class="with-hero has-footer">

      <div class="list">
        <a class="item item-home" ui-sref="edit-workouts">
          <i class="icon ion-edit royal"></i>
          &nbsp;Criar treinos
        </a>

        <a class="item item-home" ui-sref="history">
          <i class="icon ion-podium royal"></i>
          &nbsp;Histórico de treinos
        </a>

        <a class="item item-home" ui-sref="profile">
          <i class="icon ion-android-clipboard royal"></i>
          &nbsp;Meu perfil
        </a>

        <a class="item item-home" ui-sref="account">
          <i class="icon ion-android-person royal"></i>
          &nbsp;Minha conta
        </a>
      </div>
    </ion-content>

    <ion-footer-bar>
      <button class="bar bar-footer bar-train" ui-sref="workout-list">
        <p class="title">treinar<p>
      </button>
    </ion-footer-bar>
  </ion-view>

