<ion-view title="Escolha o treino" cache-view="false">
  <ion-header-bar class="bar bar-header bar-royal">

    <h1 class="title">Escolha o treino</h1>
  </ion-header-bar>

  <ion-content>

    <div class="card" ng-show="!workout_list.length">
      <div class="item item-text-wrap item-icon-right royal-light-bg royal-border">
        <span>Você ainda não possui nenhum treino.</span>
        <i class="icon icon-right ion-ios-information-empty"></i>
      </div>
    </div>

    <div class="row" ng-show="!workout_list.length">
      <div class="col">
        <button class="button button-outline button-royal icon-right ion-plus" ui-sref="muscle-groups">
          Adicionar novo treino&nbsp;
        </button>
      </div>
    </div>

    <ion-list>
      <ion-item class="item" ng-repeat="workout in workout_list" href="#/workouts/{{workout._id}}">
          {{workout.title}}
          <span ng-show="workout.color" class="workout-color-box {{workout.color}}-bg {{workout.color}}-border"></span>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
