<ion-view title="Selecione os exercícios" cache-view="false">
  <ion-header-bar class="bar bar-header bar-royal">
  <div class="buttons">
    <button class="button button-icon icon ion-ios-minus-outline"
    ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
  </div>

    <h1 class="title">Criar ou remover treinos</h1>
  </ion-header-bar>

  <ion-content>

    <div class="card" ng-show="showEmptyMessage()">
      <div class="item item-text-wrap item-icon-right royal-light-bg royal-border">
        <span>Você ainda não possui nenhum treino.</span>
        <i class="icon icon-right ion-ios-information-empty"></i>
      </div>
    </div>

    <ion-list show-delete="data.showDelete">

    <div class="loading" ng-show="loading">
      <ion-spinner icon="spiral"></ion-spinner>
    </div>

      <ion-item class="item item-remove-animate" href="#/workouts/edit/{{workout._id}}" ng-repeat="workout in workout_list">
        {{workout.title}}
        <span ng-show="workout.color" class="workout-color-box {{workout.color}}-bg {{workout.color}}-border"></span>
        <ion-delete-button class="ion-minus-circled" ng-click="onWorkoutDelete(workout)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
  <div class="buttons pull-right">
    <button class="button button-outline button-royal icon-right ion-plus" ng-click="newWorkout()">
      Adicionar novo treino&nbsp;
    </button>
    </div>
  </ion-footer-bar>
</ion-view>
