<ion-view title="Selecione os exercícios" cache-view="false">
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">Selecione os exercícios ({{activeMuscleGroup.name}})</h1>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item class="item item-exercise item-text-wrap item-icon-right" ng-repeat="exercise in activeMuscleGroup.exercises">
        <label class="checkbox checkbox-exercise">
        <input type="checkbox" ng-model="exercise.checked" ng-value="exercise.checked">
        </label>
        <div class="exercise-name">{{exercise.name}}</div>
        <i ng-show="exercise.description" ng-click="openModal(exercise)" class="icon ion-ios-information-outline"></i>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar>
  <div class="buttons pull-right">
    <button class="button button-outline button-royal icon-right ion-chevron-right" ng-click="addExercises()">
      Avançar &nbsp;
    </button>
    </div>
  </ion-footer-bar>
</ion-view>
