<ion-view title="Selecione o grupo muscular">
  <ion-header-bar class="bar-royal">
  <h1 class="title">Escolha um grupo muscular</h1>
  </ion-header-bar>

  <ion-content scroll="true">
    <div class="list">
      <a ng-repeat="muscleGroup in muscleGroups" ng-class="getMuscleGroupClass(muscleGroup)" href="#/muscle-groups/{{$index}}" >
        {{muscleGroup.name}}
      </a>
    </div>
  </ion-content>

  <ion-footer-bar>
<!--     <button class="button button-balanced icon-right ion-checkmark-circled" ng-click="completeWorkout()" ng-if="hasExercises()">Salvar treino&nbsp;</button> -->
  </ion-footer-bar>
</ion-view>
