<ion-view title="Meu perfil">
<ion-nav-bar class="bar-royal" align-title="center">
</ion-nav-bar>
<ion-content padding="true" class="has-header">
<h3>Sexo</h3>
<form name="myProfile">
  <ion-radio ng-model="profile.gender" value="female">Feminino</ion-radio>
  <ion-radio ng-model="profile.gender" value="male">Masculino</ion-radio>
  <h3>Medidas do Corpo (cm)</h3>
  <div class="row">
    <div class="col col-center"></div>
    <div class="col">Direito</div>
    <div class="col">Esquerdo</div>
  </div>
  <div class="row">
    <div class="col col-center">Braço</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.right_arm" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.left_arm" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center"></div>
    <div class="col">Direito</div>
    <div class="col">Esquerdo</div>
  </div>
  <div class="row">
    <div class="col col-center">Antebraço</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.right_forearm" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.left_forearm" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center"></div>
    <div class="col">Direita</div>
    <div class="col">Esquerda</div>
  </div>
  <div class="row">
    <div class="col col-center">Pernas</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.right_leg" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.left_leg" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">Direita</div>
    <div class="col">Esquerda</div>
  </div>
  <div class="row">
    <div class="col col-center">Panturrilhas</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" name="right_calf" ng-model="profile.right_calf" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
    <div class="col">
      <label class="item item-input">
        <input type="number" name="left_calf" ng-model="profile.left_calf" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Ombros</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.shoulders" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Tórax</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.chest" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Cintura</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.waist" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Quadril</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" ng-model="profile.hip" ng-pattern="/^([0-9]{1,3})?$/">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Peso (kg)</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" name="weight" ng-model="profile.weight" ng-pattern="/^([0-9]{1,3})?$/" placeholder="seu peso em kg (ex: 85)">
      </label>
      <div class="validation error" ng-show="!myProfile.weight.$valid">
        <i class="icon icon-right ion-alert-circled"></i>
        valor inválido, digite um número com 3 casas decimais
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Altura (cm)</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" name="height" ng-model="profile.height" ng-pattern="/^([0-9]{1,3})?$/" placeholder="Sua altura em cm (ex: 175)">
      </label>
      <div class="validation error" ng-show="!myProfile.height.$valid">
        <i class="icon icon-right ion-alert-circled"></i>
        valor inválido, digite um número com 3 casas decimais
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-center">Taxa de gordura (%)</div>
    <div class="col">
      <label class="item item-input">
        <input type="number" name="fat_rate" ng-model="profile.fat_rate" ng-pattern="/^[0-9]{1,2}(\.[0-9]{1,2})?$/" placeholder="sua taxa de gordura (ex: 14%)">
      </label>
      <div class="validation error" ng-show="!myProfile.fat_rate.$valid">
        <i class="icon icon-right ion-alert-circled"></i>
        valor inválido, digite um número com até duas casas decimais separado por vírgula
      </div>
    </div>
  </div>
  <div class="row">
    <button class="button button-balanced button-block" ng-click="saveProfile(profile)" ng-disabled="myProfile.$invalid">Salvar perfil</button>
  </div>
</form>
</ion-content>
</ion-view>
