<input class="workout-title" type="text" ng-model="data.title">
<div class="workout-color" ng-show="data.color">
  <label>Cor do treino</label>
  <span class="workout-color-box {{data.color}}-bg {{data.color}}-border"></span>
</div>
