<ion-view title="Exercícios">
    <ion-header-bar class="bar bar-royal">
      <h1 class="title">{{workout.title}}</h1>
      <div class="workout-color-box workout-color-box-header {{workout.color}}-bg"></div>
    </ion-header-bar>

  <ion-content>

  <div class="card">
    <div class="item item-text-wrap item-icon-right">
      <span>Treino criado em {{workout_date()}}</span>
      <i class="icon icon-right ion-calendar"></i>
    </div>
  </div>

    <div class="list card" ng-repeat="muscleGroup in workout.workout">
        <div class="item item-divider">
          <h2>{{muscleGroup.name}}</h2>
        </div>

      <form>
        <div class="item item-text-wrap" ng-repeat="exercise in muscleGroup.exercises">
          <h2>{{exercise.name}}</h2>

          <div class="row">
            <div class="col workout-inset">
              <span class="input-label">Séries</span>
              <input class="workout-input" type="text" ng-model="exercise.set" disabled>
            </div>
            <div class="col workout-inset">
              <span class="input-label">Repet.</span>
              <input class="workout-input" type="number" ng-model="exercise.repetitions" disabled>
            </div>
            <div class="col workout-inset">
              <span class="input-label">Peso</span>
              <input class="workout-input" type="number" ng-model="exercise.weight" disabled>
            </div>

          </div>
        </div>

      </div>
    </form>

    </ion-content>

</ion-view>
