<ion-view title="Exercícios">

    <ion-header-bar class="bar-royal">
      <h1 class="title">{{executed_workout.workout_title}} - {{workout_date(executed_workout.ended_at)}}</h1>
    </ion-header-bar>

  <ion-content>

    <div class="card">
      <div class="item item-text-wrap item-icon-right">
        <span>Treino realizado em {{workout_duration}}</span>
        <i class="icon icon-right ion-android-stopwatch"></i>
      </div>
    </div>

    <div class="list card" ng-repeat="muscleGroup in executed_workout.workout | filter: filterMuscleGroupsWithCompletedExercises">
        <div class="item item-divider">
          <h2>{{muscleGroup.name}}</h2>
        </div>

      <form>
        <div class="item" ng-repeat="exercise in muscleGroup.exercises | filter: { completed: true }">
          <h2>{{exercise.name}}</h2>

        <div class="row" ng-repeat="set in exercise.sets">
          <div class="col col-33">
            <div class="current-workout-set royal">
              Série {{set.current_set}}
            </div>
          </div>
          <div class="col col-33">
            <span class="input-label">Repet.</span>
            <div class="current-workout-item">{{set.repetitions}}</div>
          </div>
          <div class="col col-33">
            <span class="input-label">Peso</span>
            <div class="current-workout-item">{{set.weight}}</div>
          </div>
        </div>

      </div>
    </form>

    </ion-content>
</ion-view>
