<ion-view class="welcome-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="app-copy col col-top">
        <div class="app-icon"></div>
        <h1 class="app-logo">Gymness</h1>
        <p class="app-tagline">
            Seu treino em suas mãos.
          </p>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-bottom">
        <button class="facebook-sign-in button button-full icon-left" ng-click="facebookSignIn()">
          <i class="icon ion-social-facebook facebook-login"></i>
          Entrar com Facebook
        </button>
        <button class="button button-clear button-full" ng-click="noSignIn()">Testar sem uma conta</button>
      </div>
    </div>
  </ion-content>
</ion-view>
