 <ion-view title="Treino" cache-view="false">
    <ion-header-bar class="bar-royal">
      <h1 class="title">Treinar - {{executed_workout.workout_title}}</h1>
      <div class="button button-clear" ng-click="cancelWorkoutConfirmation()">
        <span class="icon ion-close"</span>
      </div>
    </ion-header-bar>

  <ion-content>

    <div class="list" ng-repeat="muscleGroup in executed_workout.workout">
      <div class="item item-divider">
        <h2>{{muscleGroup.name}}</h2>
      </div>

      <div class="item item-button-right" ng-class="{'item-royal-light': exercise.completed}" ng-repeat="exercise in muscleGroup.exercises">
        <h2>{{exercise.name}}</h2>

        <div class="row" ng-repeat="set in exercise.sets">

          <div class="col col-25">
            <div class="current-workout-set royal">
              Série {{set.current_set}}
            </div>
          </div>
          <div class="col col-25">
            <span class="input-label">Repet.</span>
            <div class="current-workout-item">{{set.repetitions}}</div>
          </div>
          <div class="col col-25">
            <span class="input-label">Peso</span>
            <div class="current-workout-item">{{set.weight}}</div>
          </div>
          <div class="col col-25">
            <button class="button button-outline button-edit" href="#" ng-click="openModal(set)">
            <i class="icon ion-compose"></i>
            </button>
          </div>

        </div>

        <div class="check-exercise">
          <label class="checkbox checkbox-square checkbox-big checkbox-balanced">
            <input type="checkbox" ng-model="exercise.completed">
          </label>
        </div>

      </div>


    </div>


    </ion-content>

    <ion-footer-bar class="bar-footer">
      <button class="button button-dark button-clear pull-left icon-left ion-android-stopwatch workout-timer"ng-click="WorkoutDurationToShort(executed_workout.started_at, 100)">
      &nbsp;<timer interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
      </button>


      <button class="button button-balanced pull-right icon-right ion-android-done-all finish-workout" ng-click="finishWorkoutConfirmation()">Finalizar treino&nbsp;
      </button>
    </ion-footer-bar>

</ion-view>
