/* Empty. Add your own CSS if you like */

.button-list {
  width: 100%;
}

.app-icon {
  background: url('../img/gymness.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  margin: 30px auto 30px;
  width: 100px;
  opacity: 0.9;
}

.hero {
  height: 160px;
  position: absolute;
  top: 44px;
  opacity: 1.0;
  border: 0;
  padding: 0;
}

.hero-img {
/*background: #000 url('../img/body-building-home.jpg') top fixed no-repeat;*/
/*background: linear-gradient(rgba(136, 106, 234, 0.75), rgba(136, 106, 234, 0.25));
*/
}

.app-avatar {
}

.with-hero {
  top: 204px !important;
}

.list-home.a {
  font-size: 20px;
}

.workout-input {
  background-color: #eee;
  font-size: 24px !important;
  display: flex;
  line-height: 1.42;
  width: 100%;
}

.workout-inset {
  border-radius: 3px;
  background-color: #eee;
  margin-right: 8px;
  padding: 8px;
}

.check-exercise {
  position: absolute;
  right: 16px;
  bottom: 20px;
}

.item-completed {
  background-color: #e0e0e0;
}

.current-workout-item {
  font-size: 24px;
  vertical-align: center;
}

.current-workout-set {
  font-size: 18px;
  line-height: 150%;
  padding-top: 20px;
  padding-bottom: 15px;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}

.custom-padding {
  padding-top: 30px;
}

.custom-subhead-padding {
  padding-top: 45px;
}

.button-train {
  font-size: 16px;
  font-weight: bolder;
}

.item h3  {
  background-color: blue;
}

.item-royal-light, .item-has-exercises  {
  background: rgba(136, 106, 234, 0.1);
}

.button-edit {
  min-width: 32px;
  min-height: 32px;
  margin: 12px;
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:10px;
background-repeat: no-repeat;
background-position: 10px center;
}

.error {
  color: #D8000C;
}

.check-exercise .checkbox input:before, .check-exercise .checkbox-icon:before {
  width: 150%;
  height: 150%;
}

.check-exercise .checkbox input:after, .check-exercise .checkbox-icon:after {
  top: 55%;
  left: 55%;
  width: 25px;
  font-weight: bolder;
}

.bar .button.finish-workout {
  font-weight: 600;
  text-transform: uppercase;
}

.bar .button.workout-timer {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px;
}



/*.loading {
  width: 50px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}*/

.welcome-view {
  background: #222 url('../img/body-building-welcome.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;              /* optional, center the image */

}
  .welcome-view .top-content {
    height: 66%; }
    .welcome-view .top-content .app-copy {
      text-align: center;
      padding-top: 13vh;
    }
    .welcome-view .top-content .app-logo {
      font-size: 60px;
      font-family: sans-serif;
      font-weight: 100;
      color: #FFFFFF;
      letter-spacing: 6px;
      text-transform: uppercase; }
    .welcome-view .top-content .app-tagline {
      font-size: 16px;
      margin-top: 20px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.95);

    }
  .welcome-view .bottom-content {
    height: 34%; }
    .welcome-view .bottom-content .facebook-sign-in {
      border-radius: 4px;
      font-weight: 500;
      color: #FFF;
      background-color: #294886;
      border-color: #27447e;

  }

.button .icon.facebook-login {
  font-size: 100px;
  float: left;
  padding: 0px;
}

.workout-color {
  padding-top: 10px;
}

.workout-color-box {
  display: inline-block;
  float: right;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.workout-color-box-header {
  margin: 8px 10px 6px 10px;
  float: none;
  position: absolute;
  right: 0px;
}

.workout-title {
  display: inline-block;
}

.button-go-back {
  padding-top: 20px;
}

 .workout-inset .ng-invalid {
    background: rgba(255, 0, 0, 0.1);
    padding: 5px;
 }

.workout-error {
  margin: 10px;
}

.royal-light-bg {
  background: #D1C4E9;
}

.royal-border {
  border: 1px solid #9575CD;
}

div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}

.remove-exercise {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-progress {
  postion: relative;
  padding: 12px 4px;
  height: 190px;
  width: 100%;
  text-align: center;
}

.workout-progress-value {
  margin: -88px auto 10px;
  width: 70px;
  top: 100px;
  font-weight: bold;
  font-size: 30px;
}

.bar-train {
  background-color: #673AB7;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.item-home {
  font-size: 18px;
}

.item-exercise {
  padding: 0px;
}

.checkbox-exercise {
  padding: 12px;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 32px;
}


.exercise-name {
  display: flex;
  padding: 18px;
  height: 100%;
  margin-left: 30px;
  margin-right: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  top: 0px;
}

.exercise-image {
  text-align: center;
  width: 100%;
}
